In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv("/home/ayushi/clustering/CC GENERAL.csv")

In [5]:
df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
CUST_ID                             8950 non-null object
BALANCE                             8950 non-null float64
BALANCE_FREQUENCY                   8950 non-null float64
PURCHASES                           8950 non-null float64
ONEOFF_PURCHASES                    8950 non-null float64
INSTALLMENTS_PURCHASES              8950 non-null float64
CASH_ADVANCE                        8950 non-null float64
PURCHASES_FREQUENCY                 8950 non-null float64
ONEOFF_PURCHASES_FREQUENCY          8950 non-null float64
PURCHASES_INSTALLMENTS_FREQUENCY    8950 non-null float64
CASH_ADVANCE_FREQUENCY              8950 non-null float64
CASH_ADVANCE_TRX                    8950 non-null int64
PURCHASES_TRX                       8950 non-null int64
CREDIT_LIMIT                        8949 non-null float64
PAYMENTS                            8950 non-null float64
MINIMUM_PAYMENTS                    8637 non-null float64
PRC_FULL_PAYMENT                    8950 non-null float64
TENURE                              8950 non-null int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [7]:
df.isna().sum()

CUST_ID                               0
BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [8]:
df.median()
df=df.fillna(df.median())
df.isna().sum()

CUST_ID                             0
BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
TENURE                              0
dtype: int64

In [9]:
from sklearn.cluster import KMeans

In [10]:
df.drop('CUST_ID',axis=1,inplace=True)

In [11]:
sse_ = []
for k in range(1, 15):
    kmeans = KMeans(n_clusters=k).fit(df)
    sse_.append([k, kmeans.inertia_])

In [12]:
sse_

[[1, 393155214774.4086],
 [2, 279339091349.24457],
 [3, 232836283483.66592],
 [4, 206554835537.27295],
 [5, 181599767197.1143],
 [6, 164366875038.11334],
 [7, 145211037675.64694],
 [8, 132873785867.3886],
 [9, 124173384684.74611],
 [10, 117108849081.28937],
 [11, 109181613805.98944],
 [12, 102853769422.63339],
 [13, 98132256776.84282],
 [14, 95192546628.8709]]

In [13]:
kmeans=KMeans(n_clusters=8)

In [14]:
kmeans.fit(df)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [15]:
kmeans.cluster_centers_

array([[7.83713483e+02, 8.50472491e-01, 4.96041156e+02, 2.39114231e+02,
        2.57229239e+02, 4.43645695e+02, 4.51285368e-01, 1.29143373e-01,
        3.47373069e-01, 1.07563996e-01, 2.19357921e+00, 9.35505446e+00,
        2.11962301e+03, 8.55676092e+02, 5.21236331e+02, 1.43562421e-01,
        1.13649914e+01],
       [8.87596803e+02, 8.71000238e-01, 1.19983352e+03, 7.00743360e+02,
        4.99311640e+02, 2.29094110e+02, 6.18492312e-01, 3.30067747e-01,
        4.28774347e-01, 4.96042244e-02, 9.34883721e-01, 1.89110465e+01,
        6.95772463e+03, 1.42573421e+03, 3.44968739e+02, 2.35651810e-01,
        1.18069767e+01],
       [4.06588525e+03, 9.58467806e-01, 5.05512622e+02, 2.79996417e+02,
        2.25549558e+02, 3.53986589e+03, 3.11587514e-01, 1.34276039e-01,
        2.13455817e-01, 3.69164885e-01, 1.01517771e+01, 8.61863593e+00,
        6.36806392e+03, 2.68205763e+03, 1.66707631e+03, 2.72549645e-02,
        1.14783862e+01],
       [5.18654887e+03, 8.75580741e-01, 1.45951580e+03, 8.71786250e+02,
        5.87925982e+02, 1.09266883e+04, 3.53224509e-01, 1.93785732e-01,
        2.76302580e-01, 4.96222741e-01, 2.07857143e+01, 1.84464286e+01,
        1.08566964e+04, 1.56315412e+04, 2.07435966e+03, 1.46442679e-01,
        1.16785714e+01],
       [5.44820172e+03, 9.56126478e-01, 2.79165557e+04, 2.23543143e+04,
        5.56224130e+03, 9.70110470e+02, 9.05072435e-01, 8.50000043e-01,
        7.08695609e-01, 3.98550435e-02, 1.78260870e+00, 1.28217391e+02,
        1.60434783e+04, 2.77616004e+04, 3.34571825e+03, 5.15316174e-01,
        1.19130435e+01],
       [5.52078368e+03, 9.42951944e-01, 1.61703726e+03, 9.90538744e+02,
        6.26648632e+02, 2.02383742e+03, 5.62880484e-01, 3.35339361e-01,
        4.06216888e-01, 2.11270195e-01, 5.18834081e+00, 2.33654709e+01,
        1.36220852e+04, 2.56446623e+03, 1.70769176e+03, 1.21452191e-01,
        1.18744395e+01],
       [4.43823760e+03, 9.85258000e-01, 1.19472838e+03, 1.72967838e+02,
        1.02176054e+03, 1.02424561e+03, 5.12899216e-01, 5.03684865e-02,
        4.83005730e-01, 8.68140541e-02, 2.97297297e+00, 2.30270270e+01,
        4.65270270e+03, 1.53481347e+03, 2.77112739e+04, 0.00000000e+00,
        1.19189189e+01],
       [2.39330646e+03, 9.70704104e-01, 6.57395704e+03, 4.42102210e+03,
        2.15471009e+03, 5.13686608e+02, 9.12697991e-01, 6.98260716e-01,
        7.03910426e-01, 6.83611006e-02, 1.86094675e+00, 7.37011834e+01,
        7.99659763e+03, 6.50831418e+03, 1.21090446e+03, 3.20618024e-01,
        1.19260355e+01]])

In [16]:
y_kmeans = kmeans.predict(df)

In [18]:
y_kmeans

array([0, 2, 1, ..., 0, 0, 0], dtype=int32)

In [19]:
df["cluster"] = y_kmeans

In [20]:
df.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,cluster
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12,0
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12,2
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12,1
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,312.343947,0.000000,12,1
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12,0